@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">Kenny's Cuts</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" aria-current="page"> About </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/servicespage" Match="NavLinkMatch.All" aria-current="page"> Services </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/book" Match="NavLinkMatch.All" aria-current="page"> Book </NavLink>
                </li>
              
            </ul>
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">

                <AuthorizeView>
                    <Authorized>
                        <AuthorizeView Context="innerContext">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="/my-orders" Match="NavLinkMatch.All">My Bookings</NavLink>
                            </li>
                        </AuthorizeView>
                        <AuthorizeView Roles="Admin" Context="innerContext">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <ul class="dropdown-menu" aria-lablledby="navbarDropdown">
                                    <li class="nav-item">
                                        <NavLink class="dropdown-item" href="/all-bookings" Match="NavLinkMatch.All">All Bookings</NavLink>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li class="nav-item">
                                        <NavLink class="dropdown-item" href="/all-services" Match="NavLinkMatch.All">Add Services</NavLink>
                                    </li>
                                    <li class="nav-item">
                                        <NavLink class="dropdown-item" href="/edit-services" Match="NavLinkMatch.All">Edit Services</NavLink>
                                    </li>
                                </ul>
                            </li>
                        </AuthorizeView>
                    </Authorized>
                </AuthorizeView>


                <AuthorizeView>
                    <Authorized>
                        <AuthorizeView Roles="Admin" Context="innerContext">
                            <span class="navbar-text me-3"> Admin </span>
                        </AuthorizeView>
                        <li class="navbar-text me-1"> @context.User.Identity?.Name </li>
                        <li class="nav-item me-1">
                            <NavLink class="btn btn-outline-light" href="/Account/Logout" Match="NavLinkMatch.All">Logout</NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item me-1">
                            <NavLink class="btn btn-outline-light" href="/Account/Login" Match="NavLinkMatch.Prefix">Login</NavLink>
                        </li>
                        <li class="nav-item me-1 mt-md-0">
                            <NavLink class="btn btn-outline-light" href="/Account/Register" Match="NavLinkMatch.Prefix">Register</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

<main class="container">
    <div class="p-2 rounded">
        @Body
    </div>
</main>