﻿@using KennysCuts.Model

<h3>ServiceItems</h3>

<div class="card mt-2 h-100">

    <div class="card-body d-flex flex-column">
        <div class="d-flex flex-column mb-5">
            <h5 class="card-title">@Services.Description</h5>
            <p class="card-text">@Services.Price</p>
        </div>
     </div>  
</div>

@code {

    [Parameter]
    public Services Services { get; set; }

}
