@page "/book"
@using KennysCuts.Model
@using KennysCuts.Context
@inject DatabaseContext DatabaseContext
@inject NavigationManager NavigationManager

<h3>Book</h3>



    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="card mt-3">
                    <div class="card-body">
                        <h4 class="card-title text-center">Book Now</h4>
                        <div class="form-group mb-3 text-center">
                            <label>Card Name</label>
                            <InputText class="form-control text-center" placeholder="Enter Name" />
                        </div>
                        <div class="form-group mb-3 text-center">
                            <label>Card Number</label>
                            <InputText class="form-control text-center" placeholder="Select a service" />
                        </div>
                        <div class="form-group mb-3 text-center">
                            <label>Expiry Date</label>
                            <InputText class="form-control text-center" placeholder="Select a barber" />
                        </div>
                        <div class="form-group mb-3 text-center">
                            <label>Security Code</label>
                            <InputText class="form-control text-center" placeholder="Choose a timeslot" />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-warning d-flex">
                           

                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




@code {
    
}



