@using KennysCuts.Context
@using KennysCuts.Model
@page "/servicespage"
@inject ServicesProvider ServiceProvider
@inject NavigationManager NavigationManager

<h3>ServicesPage</h3>




@code {

    private List<Services> services;

    protected override async Task OnInitializedAsync()
    {
        services = await ServiceProvider.GetAllServicesAsync();
    }

}

