@using KennysCuts.Components.Shared
@using KennysCuts.Context
@using KennysCuts.Model
@page "/servicespage"
@inject HaircutsProvider HaircutsProvider
@inject BarberProvider BarberProvider
@inject NavigationManager NavigationManager



<div class="container">
    <div class="row">
        <div class="col text-center">
            <h3>Services 💈</h3>
        </div>
    </div>
</div>

<div class="row">

@foreach (var services in services)
{
    <div class="row-md-3">
    <!-- Takes the service object as an parameter and displays the details of the service -->
        <HaircutDetails Services="services"/> 
    </div>
}
</div>




@code {

    private List<Services> services;

    protected override async Task OnInitializedAsync()
    {
        services = await HaircutsProvider.GetAllServicesAsync();
    }

}

