@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using KennysCuts.Model
@inject ProtectedSessionStorage ProtectedSessionStore




<div class="row mb-4">
    <div class="col-12">
        <div class="card mt-2 h-100 shadow-lg rounded-4 border-0">

            <!-- Card Header -->
            <div class="card-header bg-dark text-white rounded-top-2">
                <h5 class="card-title mb-0">@Services.Name</h5>
            </div>

            <!-- Card Body -->
            <div class="card-body d-flex flex-column justify-content-between">
                <p class="card-text text-muted">@Services.Description</p>

          

                <!-- Button to display Price and Duration details -->
                <div class="d-flex justify-content-center mt-3">
                    <button type="button" class="btn btn-dark btn-sm px-3 py-1 rounded-pill shadow-sm border-0 transition-all hover-shadow" data-bs-toggle="collapse" data-bs-target="#details-@Services.Id" aria-expanded="false" aria-controls="details-@Services.Id">
                        <i class="bi bi-info-circle me-2"></i> Show Price & Duration Details
                    </button>
                </div>

                <!-- Card which holds the Price and Duration Details -->
                <div class="collapse mt-3" id="details-@Services.Id">
                    <div class="card card-body bg-light">
                        <p><strong>Duration:</strong> @Services.Duration minutes</p>
                        <p><strong>Price:</strong> £@Services.Price</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





@code {

    [Parameter]
    public Services Services { get; set; }
    private int quantity = 1;

}