@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using KennysCuts.Model
@inject ProtectedSessionStorage ProtectedSessionStore




<div class="row mb-4">
    <div class="col-12">
        <div class="card mt-2 h-100 shadow-lg rounded-4 border-0">

            <!-- Card Header -->
            <div class="card-header bg-dark text-white rounded-top-2">
                <h5 class="card-title mb-0">@Services.Name</h5>
            </div>

            <!-- Card Body -->
            <div class="card-body d-flex flex-column justify-content-between">
                <p class="card-text text-muted">@Services.Description</p>

                <!-- Badges for Duration and Price -->
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <span class="badge bg-light text-dark border border-secondary-subtle p-2">Duration: @Services.Duration minutes</span>
                    <span class="badge bg-success p-2 text-white">Price: £@Services.Price</span>
                </div>

            </div>
        </div>
    </div>
</div>





@code {

    [Parameter]
    public Services Services { get; set; }
    private int quantity = 1;

}